In [1]:
import pandas as pd
import sys, os

# Import the path prefix from the parent directory
# Get the current notebook's directory
notebook_dir = os.path.dirname(os.path.abspath(''))

# Add the parent directory to sys.path
sys.path.append(notebook_dir)

# Now we can import PATH_PREFIX
from path_prefix import PATH_PREFIX

In [2]:
df = pd.read_csv(PATH_PREFIX + '/data/csv/2022-05-23-02.csv.gz', compression='gzip')

In [3]:
df.head()

,id,lat,lon,velocity,heading,vertrate,baroaltitude,geoaltitude,lastposupdate
0,EDV5461 a399b9,45.368134,-91.821115,240.430344,79.146885,1.30048,7299.96,7322.82,1.653271e+09
1,UAL526 a1b5e7,43.532730,7.989105,241.907411,292.638610,0.00000,11582.40,11948.16,1.653271e+09
2,SKW3885 ab3d9a,44.725250,-92.588392,203.293272,121.759480,13.00480,5196.84,5242.56,1.653271e+09
3,DAL954 a47597,39.423228,-103.957947,170.656669,304.312823,-2.60096,6134.10,6294.12,1.653271e+09
4,SKW5579 aaac21,31.921783,-93.596100,227.459307,43.258745,4.22656,10507.98,11026.14,1.653271e+09

In [4]:
df2 = pd.read_csv(PATH_PREFIX + '/data/wp/sample.turns.csv')
df2.head()

,id,waypoint_name,waypoint_lat,waypoint_lon,waypoint_alt,waypoint_time,waypoint_speed
0,UAL1436 a0e6c6,09ec93fe-8,31.206479,-94.487036,10043.16,1.653264e+09,0.263006
1,UAL1436 a0e6c6,efcd0a3c-6,31.821294,-94.004012,12115.80,1.653264e+09,0.261194
2,UAL1436 a0e6c6,1345d03d-6,35.011436,-89.974384,12428.22,1.653266e+09,0.264769
3,UAL1436 a0e6c6,9c56c0c9-b,37.793976,-81.084945,12443.46,1.653269e+09,0.249579
4,UAL1436 a0e6c6,a497e665-8,38.466440,-79.036804,8351.52,1.653270e+09,0.246869

In [5]:
df3 = pd.read_csv(PATH_PREFIX + '/data/wp/sample.to.csv')
df3.head()

               id          time airport      lat       lon     error
0  SWA2173 ac00d6  1.653264e+09    KPHX  33.4343 -112.0120  0.025168
1  AAL1179 a3c9c5  1.653264e+09    KORD  41.9786  -87.9047  0.052103
2  SKW6266 a65d06  1.653264e+09    KDWH  30.0618  -95.5528  0.068820
3  DAL1208 a418b2  1.653264e+09    KMSP  44.8820  -93.2218  0.026757
4  ASA1431 ad8b1d  1.653264e+09    KBOS  42.3643  -71.0052  0.143910